[Unit]
Description=nexus
After=network.target
[Service]
TimeoutStartSec=0
ExecStart=/root/nexus/nexus-3.78.2-04/bin/nexus run
[Install]
WantedBy=multi-user.target
