[Unit]
Description=rocketmq service
After=network.target mqnamesrv.service

[Service]
Type=forking
User=root
WorkingDirectory=/root/rocketmq-all-5.2.0-bin-release/bin/
ExecStart=/root/rocketmq-all-5.2.0-bin-release/bin/mqbroker -n localhost:10911 autoCreateTopicEnable=true
ExecStop=/root/rocketmq-all-5.2.0-bin-release/bin/mqshutdown broker
Restart=on-failure

[Install]
WantedBy=multi-user.target
