[Unit]
Description=teamcity-agent
After=network.target
[Service]
Type=forking
ExecStart=/bin/sh /root/buildAgent/bin/agent.sh start
ExecStop=/bin/sh /root/buildAgent/bin/agent.sh stop
[Install]
WantedBy=multi-user.target
