[Unit]
Description=teamcity
After=network.target
[Service]
Type=forking
ExecStart=/bin/sh /root/TeamCity/bin/teamcity-server.sh start
ExecStop=/bin/sh /root/TeamCity/bin/teamcity-server.sh stop
[Install]
WantedBy=multi-user.target
