[Unit]
Description=seata
After=nacos.service
[Service]
Type=forking
WorkingDirectory=/root/seata/bin/
ExecStart=/bin/java -server -Dloader.path=/root/seata/lib -Xmx2048m -Xms2048m -Xmn1024m -Xss512k -XX:SurvivorRatio=10 -XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=256m -XX:MaxDirectMemorySize=1024m -XX:-OmitStackTraceInFastThrow -XX:-UseAdaptiveSizePolicy -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/root/seata/logs/java_heapdump.hprof -XX:+DisableExplicitGC -Xloggc:/root/seata/logs/seata_gc.log -verbose:gc -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCTimeStamps -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=100M -XX:+UseG1GC -Dio.netty.leakDetectionLevel=advanced -Dapp.name=seata-server -Dapp.pid=2084 -Dapp.home=/root/seata -Dbasedir=/root/seata -Dspring.config.location=/root/seata/conf/application.yml -Dlogging.config=/root/seata/conf/logback-spring.xml -jar /root/seata/target/seata-server.jar
[Install]
WantedBy=multi-user.target
