[Unit]
Description=seata
After=network.target
[Service]
Type=forking
WorkingDirectory=/root/seata/bin/
ExecStart=/bin/sh seata-server.sh
[Install]
WantedBy=multi-user.target
