[Unit]
Description=seata
After=network.target
[Service]
Type=forking
Restart=always
WorkingDirectory=/root/seata/bin/
ExecStartPre=/bin/sleep 120
ExecStart=/bin/sh seata-server.sh
[Install]
WantedBy=multi-user.target
