[Unit]
Description=open-webui-backend
After=network.target
[Service]
Type=simple
EnvironmentFile=/root/open-webui/backend/.env
ExecStart=/bin/bash -c 'source /root/anaconda3/etc/profile.d/conda.sh && conda activate open-webui && source /etc/profile.d/proxy.sh && proxy_on && /bin/bash /root/open-webui/backend/start.sh'
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target
