[Unit]
Description=Gogs

[Service]
WorkingDirectory=/root/gogs
ExecStart=/root/gogs/gogs web
Restart=always
Environment=USER=root HOME=/root

[Install]
WantedBy=multi-user.target
